<html>
<h4><b><i>Admin id {{result.0}}</i></b>&nbsp;&nbsp;&nbsp;<font color='green'>{{result.1}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src=/static/{{result.2}} width='20' height='20'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>Logout</a></h4><hr color='red'>
 
<table>
<tr>
    <td valign='top'>
      <a href='http://localhost:8000/deviceinterface' target='mw'>Add Device</a> <br>
      <a href='http://localhost:8000/devicedisplay' target='mw'>Device List</a> <br>
      <a href='http://localhost:8000/product' target='mw'>Add Product</a> <br>
      <a href='http://localhost:8000/productdisplay' target='mw'>Product List</a> <br>
       
    </td>
 
   <td> <iframe width='800' height="800" frameborder='0' name='mw'></iframe></td>
</tr>

</table>
  
</html>