<html>
<form action='/checkadminlogin' >
  <table>
      <caption><b><i>Administrator Login</i></b></caption>
      <tr>
        <td>
            <b><i>Admin Id:</i></b>
        </td>
        <td>
            <input type='text' name='adminid'>
        </td>
      </tr>

      <tr>
            <td>
                <b><i>Password:</i></b>
            </td>
            <td>
                <input type='password' name='password'>
            </td>
          </tr>
    

  </table>  
  <input type='submit' value='Login'><br>
  {{msg}}


</form>

</html>