<html>
<h4><b><i>User Id:{{result.0}}</i></b>&nbsp;&nbsp;&nbsp;<font color="green">{{result.1}}</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#'>Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;{{request.session.EMAIL}}</h4><hr color='orange'>
<table>
<tr>
	<td valign="top">
	<a href="http://localhost:8000/userProduct" target='mw'>Add Product</a>	
	</td>
	<td>
    <iframe height='800' width='800' name='mw' frameborder="0"></iframe>
    </td>
</tr>	
</table>>
</html>